<section class="containerLista">
    <div class="contentLista">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listPeople; let i = index">
                    <td>{{item.nome}}</td>
                    <td>{{item.idade}}</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>teste</td>
                    <td>1</td>
                    <td>
                        <button>
                            <img src="../../../../../assets/icons/icon-trash.svg">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>